*{
    box-sizing: border-box;
}



.tile{
    //background-color: lightcoral;
}

.weekday{
    background-color:yellow;
}

.weekend{
    background-color: lightblue;;
}

.day{
    margin:5px;
    margin-top: 20px;
}


