*{
    box-sizing: border-box;
}

html{
    overflow-x: scroll;
}


#header{
    background-color: rgba(90, 151, 206, 1);
}

#logo{
    font-size: 50px;
}


#clear_all{
    font-size: 20px;
    background-color: rgba(224, 225, 135, 1);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.tile{
}

.weekday{
    background-color: rgba(245, 223, 113, 1);
}

.weekend{
    background-color: rgba(136, 152, 206, 1);
}

.day{
    margin:5px;
    margin-top: 20px;
    border-radius: 10px;
}

.hour{
    background-color: rgba(132, 188, 213, 1);
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
}


.button{
    width: 22px;
    height: 22px;
    font-size: 11px;
    margin: 2px;
    background-color: rgba(194, 180, 234, 1);
    border: none;
    padding: 2px;
}


.button:hover{
    background-color: rgba(177, 223, 243, 1);
}

.button:focus{
    background-color: rgba(125, 97, 186, 1);
}


.clear_button{
    background-color: rgba(255, 122, 66, 1);
    width: 50px;
    height: 20px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.clear_button:hover{
    background-color: rgba(232, 163, 178, 1);
}

.clear_button:focus{
    background-color: rgba(224, 73, 87, 1);
}